@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

@utility paused {
  animation-play-state: paused;
}

@theme {
  --breakpoint-sm: 350px;
  --breakpoint-md: 898px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --font-roboto: "Roboto", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";
  --font-opensans: "Open Sans", "sans-serif";
  --font-josefinsans: "Josefin Sans", "sans-serif";
  --color-regal-blue: #cb671b;
  --color-brw: #53423e;
  --color-lbrw: #645550;
  --color-dbrw: #2c2523;
  --color-dnavbrw: #2f2a29;
  --color-blck: #1e1917;
  --color-wht: #f1e1d9;
  --color-cyn: #15d1e9;
  --color-lCyan: #88e5f0;
  --color-dCyan: #009fb3;
  --color-ornge: #fb9718;
  --color-lOrange: #fac27b;
  --color-hoOrange: #886435;
  --color-dOrange: #d28422;
  --color-gry: #626965;
  --color-lGrey: #978580;
  --color-dGrey: #3f4441;
  --shadow-cyanShadow: 0px 0px 20px 0px rgba(94, 206, 220, 0.5);
  --shadow-cyanBigShadow: 10px 10px 1000px 500px rgba(94, 206, 220, 0.3);
  --shadow-cyanMediumShadow: 10px 10px 200px 150px rgba(94, 206, 220, 0.5);
  --shadow-orangeBigShadow: 10px 10px 10000px 500px rgba(240, 169, 79, 0.3);
  --shadow-orangeMediumShadow: 10px 10px 2000px 150px rgba(240, 169, 79, 0.5);

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  --animate-loop-scroll: loop-scroll 10s linear infinite;
  @keyframes loop-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@layer base {
  body {
    @apply bg-dbrw;
  }
}
@layer utilities {
  /*
    Chromium browsers don't render nested backdrop filters.
    As a workaround, add 'before:' to the outer filter, along with 'before:backdrop-hack':

      <div class="before:backdrop-blur-md before:backdrop-hack>
        <div class="backdrop-blur-md"></div>
      </div>

    See https://stackoverflow.com/a/76207141.
  */
  .backdrop-hack {
    @apply absolute inset-0 -z-10;
  }
}
